.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bgimg-1 {
  /* @TODO: 图片修改 */
  background-image: url("/image1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("/image2.jpg");
  min-height: 300px;
}

.bgimg-3 {
  background-image: url("/image3.jpg");
  min-height: 300px;
}

.caption {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 22px);
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #000;
}

.caption span.border {
  color: #000;
  font-size: 24px;
  letter-spacing: 2px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  }
}